@charset "UTF-8";
span {
  letter-spacing: 5px;
  color: white;
  display: block;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(206, 201, 201, 0.9254901961), -2px -2px 4px #5f5d5d;
}

.loading {
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  /*     border-right: 4px solid  whitesmoke; */
  width: 40ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  color: rgba(255, 0, 0, 0.527);
}

@font-face {
  font-family: "Marske";
  src: url("/Marske/Marske.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.in-flex {
  flex: 1;
  min-width: 250px;
}

.in-flex:first-child {
  fLex: 2;
  padding: 25px;
  background-coLor: #fff;
  margin: 20px;
  margin-bottom: 0px;
}

.in-flex div {
  padding: 25px;
  background-color: #fff;
  margin: 20px;
}

#toogleMenu {
  position: sticky;
  top: 15rem;
  left: 1%;
  height: 4em;
  width: 4rem;
  z-index: 1;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(206, 201, 201, 0.9254901961), -2px -2px 4px #5f5d5d;
  background-image: url(/img/eco1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10PX;
  align-content: center;
  justify-content: center;
  transform: scale(1);
  color: rgb(22, 26, 37);
  transition: ease-in 400ms;
  animation: 2s toogleMenu 8s ease;
}
#toogleMenu:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px rgb(245, 116, 0);
}
@keyframes toogleMenu {
  0% {
    transform: scale(0.5);
  }
  95% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.activeNav {
  display: none;
}

.navMenu-ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  left: 1.5rem;
  top: 20rem;
  padding: 0;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  gap: 0.2em;
  z-index: 2;
  font-size: 1rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease 400ms;
}

.navMenu-li a {
  display: block;
  color: rgb(22, 26, 37);
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  box-shadow: inset 20px 20px 60px #ffffff, inset -20px -20px 60px #aaa5a5;
}

.navMenu-li a.active {
  border: solid 2px #90c495;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  width: auto;
  color: #90c495;
  box-shadow: inset 30px 30px 90px #ffffff, inset -30px -30px 90px #463d3d;
}

.navMenu-li a:hover:not(.active) {
  border: solid 1px #05fda2;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  color: rgb(245, 116, 0);
}

.contenedor {
  display: grid;
  place-content: center;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
  margin-bottom: 5rem;
  margin-left: 15%;
  margin-right: 10%;
  word-wrap: wrap;
  flex-basis: auto;
  object-fit: cover;
  height: auto;
  color: rgb(22, 26, 37);
  opacity: 0;
  background-position: left top;
  background-attachment: fixed;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px rgba(206, 201, 201, 0.9254901961), -5px -5px 10px #5f5d5d;
  background-color: rgba(224, 235, 225, 0.836);
  backdrop-filter: blur(10%);
  border: solid 1px #90c495;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  font-size: 24px;
  animation-name: content;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}
@keyframes content {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.2);
  }
  50% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0.4);
  }
  70% {
    opacity: 0.5;
    transform: translateY(0%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
.contenedor #close {
  display: flex;
  direction: column;
  margin: 15px;
  align-items: start;
  justify-content: start;
}
.contenedor #titulo {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}
.contenedor #parrafo {
  margin-bottom: 1rem;
  border: solid 1px #90c495;
  border-radius: 20px;
}
.contenedor .photos {
  padding: 0.5em;
  border-radius: 100px 0 100px 0/100px 0 100px 0;
  object-fit: cover;
  margin: auto 25%;
  width: 50%;
  height: 50%;
}

.activeContendor {
  display: none;
}

.salida {
  animation-name: salida;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
@keyframes salida {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.2);
  }
  50% {
    opacity: 0.3;
    transform: translateY(-50%) scale(0.4);
  }
  70% {
    opacity: 0.5;
    transform: translateY(0%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

/* The hero image */
.hero-image {
  position: relative;
  cursor: row;
  min-width: 100vw;
  height: 250px;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
.hero-image img {
  position: fixed;
  width: 100vw;
  z-index: -1;
}

/* Place text in the middle of the image */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.hero-text p {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  background: black;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}
.hero-text h1 {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  animation-name: heroText;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6S;
  background: black;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}
@keyframes heroText {
  0% {
    transform: translateX(60%);
  }
  95% {
    transform: translateX(30%);
    transform: scale(1.5);
  }
  100% {
    transform: translateX(0%);
    transform: scale(1);
  }
}

.contactoToogle {
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: 1.2rem;
  top: 2.8rem;
  min-height: 30vh;
  flex-basis: 30vw;
  opacity: 0.6;
  left: 6%;
  list-style: none;
  word-wrap: wrap;
  flex-wrap: wrap;
  background: right/cover repeat url("/img/ico/back2.svg"), rgb(90, 153, 106);
  border-radius: 2% 25px;
  text-align: left;
  cursor: pointer;
  animation: contacto;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}
@keyframes contacto {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
.contactoToogle li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
@media (270px <= width <= 1024px) {
  .contactoToogle {
    width: auto;
    height: auto;
  }
}
.contactoToogle:hover {
  opacity: 1;
}

.contactoActive {
  display: block;
}

#galeria {
  background: #90c495;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  word-wrap: wrap;
  height: auto;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #5ecf01;
  justify-content: space-around;
  gap: 2rem;
  font-weight: bold;
  color: rgb(22, 26, 37);
  font-size: 1rem;
  flex-grow: 2;
}
#galeria .contacto {
  font-size: 16px;
  font-style: italic;
  border-radius: 10px;
  margin: 10px;
  background: left/contain repeat url("/img/ico/back2.svg"), rgb(90, 153, 106);
  padding: 20px;
  list-style: none;
  word-wrap: wrap;
}
#galeria .contacto li {
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: rgb(22, 26, 37);
}
#galeria .socila-ico {
  display: flex;
  flex-direction: column;
}
#galeria .socila-ico .ico img {
  transition: all 400ms ease-in;
}
#galeria .socila-ico .ico img:hover {
  border-radius: 10%;
  border: 10px solid rgba(132, 190, 132, 0.37);
  transform: scale(1.1);
}
#galeria .imagen {
  width: 4em;
  height: 4em;
  margin: 0.5em;
  overflow: hidden;
  border-radius: 50%;
}
#galeria .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrousel {
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
  padding: 1em;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 1em 1em 2em rgba(206, 201, 201, 0.9254901961), -1em -1em 2em #5f5d5d;
  overflow: hidden;
  display: grid;
  place-content: center;
  transform: scale(1);
  visibility: hidden;
  animation: 400ms carrusel 6s ease-in-out forwards;
}
@keyframes carrusel {
  0% {
    visibility: visible;
    transform: scale(0.5);
  }
  50% {
    visibility: visible;
    transform: scale(0.6);
  }
  100% {
    visibility: visible;
    transform: translateX(1);
  }
}

.carrousel .grande {
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 1em 1em 2em rgba(206, 201, 201, 0.9254901961), -1em -1em 2em #5f5d5d;
  padding: 1rem;
}
.carrousel .grande .text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.carrousel .image {
  width: calc(50% - 2rem);
  min-height: 10vh;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 1em 1em 2em rgba(206, 201, 201, 0.9254901961), -1em -1em 2em #5f5d5d;
}

.carrousel .puntos {
  cursor: pointer;
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  border-radius: 1em;
  background: #ffffff;
  box-shadow: 1em 1em 2em rgba(206, 201, 201, 0.9254901961), -1em -1em 2em #5f5d5d;
  transition: all 400ms ease-in-out;
}
.carrousel .punto:hover {
  background-color: rgb(245, 116, 0);
  transform: scale(1.5);
}

.carrousel .punto.activo {
  background-color: #90c495;
}

.container__image {
  position: relative;
  width: 50%;
}

.content__text_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(50% - 2rem);
  min-height: 10vh;
  opacity: 0;
  transition: 0.6s ease-in-out;
  background-color: #008CBA;
}

.container__image:hover .content__text_overlay {
  width: calc(50% - 2rem);
  word-wrap: wrap;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: -1;
  min-height: auto;
  border-radius: 6%;
  opacity: 1;
}

.text__overlaly {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 15rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: rgb(224, 224, 224) right/cover no-repeat url("/img/environmental-protection-326923_1280.jpg");
  background-position: right center;
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
}

#overlay-text {
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  background: url("/img/mano.jpeg"), #90c495;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  cursor: pointer;
  transform: translate(-50%, -50%);
  animation: 8s overlayStop ease-in-out forwards;
}
@keyframes overlayStop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
#overlay-text .titleOver {
  text-align: center;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 10ch;
  text-transform: uppercase;
  white-space: nowrap;
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  mix-blend-mode: exclusion;
  white-space: nowrap;
  font-size: 7rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(224, 215, 215, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}
@keyframes typing {
  from {
    color: rgb(5, 5, 5);
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: rgb(245, 116, 0);
  }
}

@media (max-width: 720px) {
  #overlay-text {
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
  #overlay-text .titleOver {
    font-size: 4rem;
  }
}
.hidden {
  display: hide;
  overflow: hidden;
}

/* Estilos para la galería */
.backjas {
  text-align: center;
  background-color: #90c495;
  border-radius: 1%;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #5ecf01;
}

.imagen_inicio {
  border-radius: 100px 0 100px 0/100px 0 100px 0;
  object-fit: contain;
  margin: auto 25%;
  max-width: 50%;
}

#name {
  margin: 0 auto;
  width: 10%;
  padding: 2px;
  text-align: center;
  display: block;
  text-align: center;
  width: 10ch;
  text-transform: uppercase;
  white-space: nowrap;
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  border-right: 10px solid;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  background: #90c495;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
#name a {
  color: transparent;
  text-decoration: none;
}
@keyframes typing {
  from {
    color: rgb(5, 5, 5);
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: rgb(245, 116, 0);
  }
}
#name:hover {
  font-size: 2.1rem;
  color: rgb(245, 116, 0);
  text-shadow: 0 1px 0 #dddada, 0 2px 0 rgb(245, 116, 0), 0 3px 0 rgb(245, 116, 0), 0 4px 0 rgb(245, 116, 0), 0 5px 0 rgb(245, 116, 0), 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.tiping {
  display: block;
  text-align: center;
  width: 10ch;
  text-transform: uppercase;
  white-space: nowrap;
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    color: rgb(5, 5, 5);
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: rgb(245, 116, 0);
  }
}

/*# sourceMappingURL=style.css.map */
