@charset "UTF-8";
span {
  letter-spacing: 5px;
  color: white;
  display: block;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(206, 201, 201, 0.9254901961), -2px -2px 4px #5f5d5d;
  display: block;
  text-align: center;
  color: rgb(255, 0, 0);
  width: 60ch;
  text-transform: uppercase;
  white-space: nowrap;
  /*   border-right: 4px solid ; */
  animation: typing 5s steps(60), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    color: white;
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.loading {
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  /*     border-right: 4px solid  whitesmoke; */
  width: 40ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  color: rgba(255, 0, 0, 0.527);
}

@font-face {
  font-family: "Marske";
  src: url("/Marske/Marske.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
ul {
  max-width: auto;
  list-style-type: none;
  margin: 0;
  top: 12em;
  padding: 0;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  width: 25%;
  position: fixed;
  gap: 0.5em;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

li a {
  display: block;
  color: rgb(22, 26, 37);
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  box-shadow: inset 20px 20px 60px #ffffff, inset -20px -20px 60px #aaa5a5;
}

li a.active {
  border: solid 2px rgb(144, 196, 149);
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  width: auto;
  color: rgb(144, 196, 149);
  box-shadow: inset 30px 30px 90px #ffffff, inset -30px -30px 90px #463d3d;
}

li a:hover:not(.active) {
  border: solid 1px #05fda2;
  border-radius: 50px 0 50px 0/70px 0 70px 0;
  color: rgb(245, 116, 0);
}

.contenedor {
  position: relative;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
  top: 0.5em;
  margin-bottom: 2em;
  max-width: 45em;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: wrap;
  padding: 1px 16px;
  object-fit: cover;
  height: auto;
  color: rgb(22, 26, 37);
  background-position: left top;
  background-attachment: fixed;
  background-color: rgba(144, 196, 149, 0.418);
  border: solid 1px rgb(144, 196, 149);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  transition: all 400ms;
}
.contenedor #titulo {
  text-align: center;
}
.contenedor .photos {
  padding: 1em;
  border-radius: 100px 0 100px 0/100px 0 100px 0;
  object-fit: cover;
  margin: auto 25%;
  width: 25%;
  height: 25%;
  object-fit: cover;
}

#hero {
  position: sticky;
  top: 10px;
  border-radius: 10%;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  color: rgb(144, 196, 149);
  font-size: 1.5em;
  z-index: 4;
}

.inverted {
  filter: invert(20%);
}

.contacto {
  position: fixed;
  top: 12em;
  z-index: 2;
  margin-left: 75%;
  justify-content: space-around;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
}
.contactop {
  color: rgb(0, 0, 0);
  font-size: 2em;
  box-shadow: 1px 1px 20px greenyellow;
  display: flex;
  flex-direction: column;
}
.contacto .social-ico {
  display: flex;
  direction: row;
  justify-content: space-around;
  margin: 10px;
  transition: 600ms ease-in;
}
.contacto .social-ico .ico {
  max-width: 2em;
  border: solid 1px rgb(144, 196, 149);
  border-radius: 20%;
}
.contacto .social-ico .ico img {
  max-width: 20px;
}
.contacto .social-ico .ico:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 1px greenyellow;
  transition: 400ms ease-in;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: center/contain no-repeat url("/img/back.svg");
  background-position: right center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

/* Estilos para la galería */
#galeria {
  display: flex;
  height: auto;
  width: 100wh;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #5ecf01;
  justify-content: space-around;
  font-weight: bold;
  color: rgb(185, 255, 215);
  font-size: 1em;
}

.imagen {
  width: 4em;
  height: 4em;
  margin: 0.5em;
  overflow: hidden;
  border-radius: 50%;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backjas {
  text-align: center;
  background-color: rgb(144, 196, 149);
  border-radius: 1%;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #5ecf01;
}

.imagen_inicio {
  padding: 4em;
  border-radius: 100px 0 100px 0/100px 0 100px 0;
  object-fit: cover;
  margin: auto 25%;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
