


footer {
    //background: linear-gradient(260deg, rgba(0, 253, 13, 0.295) 0%, rgba(49, 192, 17, 0.92) 74%, rgba(255, 255, 255, 0.919) 100%);
    
    margin-top: 16px;
  
    
    position: fixed;
    bottom: .5em;
    width: 100%;
  //  background: linear-gradient(260deg, $secondColor 0%, white 74%,$terColor 100%);
 
    text-align: center;
   // box-shadow:  1px 1px 20px $fourColor;
  
    &p {
      font-weight: bold;
      color: rgb(185, 255, 215);
      font-size: 2em;
      box-shadow: 1px 1px 20px greenyellow;
      display: flex;
      flex-direction: column;
      
    }




    .social-ico {
        display: flex;
                flex-direction: row;
        justify-content: center;
    
       // border: solid 1px $secondColor;
        border-radius: 10px;
        width: auto;
    
        transition: 600ms ease-in;

        .ico{
            max-width: 4em;
            
            padding: 6px;
        }
    
     .ico:hover { 
        transform: scale(.5);
  
            box-shadow: 1px 1px 10px greenyellow;
            transition: 400ms ease-in;
        
        }
    
    
    }

  }


