
@use 'mixin';

@use 'color';





#hero { 

  position:sticky;
  top: 10px;
  border-radius: 10%;

    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
       height: auto;
    color:color.$secondColor;
   

//background: url(/img/tech-red.jpg);
 // background-repeat: no-repeat;
//background-size:cover;
//background-position: center center;

  font-size: 1.5em;
  z-index: 4;
  }

  .inverted {
   filter: invert(20%);
}
