
@use 'mixin';

@use 'color';





/* The hero image */
.hero-image {
   position: relative;
   cursor:row;
 
  min-width: 100vw;
  height:250px;
  //background-image: url('/img/hero.jpeg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;


  
  
  img{
    position: fixed;
    width: 100vw;
  z-index: -1;
    // transition: all  ease-out 400ms;
    // &:hover{

    //   transform: scale(1.1);
    // }
    // animation: 2s toogleMenu 6s  ease;


    // @keyframes toogleMenu  {
    
    //     0% {
        
          
    //      transform: scale(0.5);
            
    //     }
      
    //     95% {
    //       transform: scale(1.5);      
    //     }
      
    //     100% {
    //         transform: scale(1);
          
           
    //     }
      
      
    //   }
  }
  
}

/* Place text in the middle of the image */
.hero-text {

  display: flex;
  flex-direction: column;

  
  justify-content:space-around;
  text-align: center; 
 p{

  margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;



background: black; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
 }
       


  
  h1{
    
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    
    // background:linear-gradient(90deg, rgb(0, 0, 0) 3%, rgba(92,251,63,0.9332107843137255) 27%, rgba(248, 248, 248, 0.925) 50%, rgb(4, 211, 15) 71%, rgba(55, 236, 167, 0.622) 86%);
    animation-name: heroText;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 6S;
    


 

 
    background: black; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

  }

  
  @keyframes heroText  {
    
    0% {
    
      transform: translateX(60%);
      
      
    }
    
    95% {
      
      transform: translateX(30%);
      transform: scale(1.5);      
    }
  
    100% {
      transform: translateX(0%);
      transform: scale(1); 
      
       
    }
  
  
  }





}
