#hero {

 
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
       height: 15vh;
    color: rgb(255, 255, 255);
    background: url(/img/tech-red.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  font-size: 1.5em;
  z-index: 4;
  }