@use 'mixin';

@use 'color';

ul {
    max-width:auto;
    list-style-type: none;
    margin: 0;
   
    top: 12em;
    padding: 0;
    border-radius: 50px 0 50px 0 / 70px 0 70px 0;
    width: 25%;
    // background-color: #000000af;
    position: fixed;
    gap: .5em;

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;





  
}

li a {
    display: block;
    color: color.$textColor;
    padding: 8px 16px;
    cursor: pointer;

    text-decoration: none;
    border-radius: 50px 0 50px 0 / 70px 0 70px 0;
    box-shadow: inset 20px 20px 60px #ffffff,
    inset -20px -20px 60px #aaa5a5;

}

li a.active {
    border: solid 2px color.$secondColor;
    border-radius: 50px 0 50px 0 / 70px 0 70px 0;
    // background-color: #05fda2;
    width: auto;
    color: color.$secondColor;
    box-shadow: inset 30px 30px 90px #ffffff,
    inset -30px -30px 90px #463d3d;

}

li a:hover:not(.active) {
    // background-color: #555;

    border: solid 1px #05fda2;
    border-radius: 50px 0 50px 0 / 70px 0 70px 0;
    color:color.$fourColor;
}


.contenedor {

    position: relative;
    box-shadow: inset 20px 20px 60px #d9d9d9,
        inset -20px -20px 60px #ffffff;
    top: .5em;
    margin-bottom: 2em;
    max-width: 45em;
    margin-left: 25%;
    margin-right: 25%;
    word-wrap: wrap;
    padding: 1px 16px;
    object-fit: cover;
    height: auto;
    color:color.$textColor;
    background-position: left top;
    background-attachment: fixed;
    
    background-color:rgba(144, 196, 149, 0.418);
    //background: url(/img/149740-009688.svg);
    border: solid 1px color.$secondColor;
    border-radius: 20px;
    align-items: center;
    text-align: center;

transition: all 400ms;

    #titulo{
        text-align: center;
    }

    .photos {
        padding: 1em;
        border-radius: 100px 0 100px 0 / 100px 0 100px 0;
        object-fit: cover;
        margin: auto 25%;
        width: 25%;
        height: 25%;
        object-fit: cover;
       

    }
}






