@use 'color';
@mixin breakpoint($width) {
    @media (min-width: $width) {
        @content;
    }
}



@mixin tiping($ch) {
    display: block;
    text-align: center;
   //typing
    width: $ch;
    text-transform: uppercase;
    white-space: nowrap;
     //border-right: 4px solid ;
         animation: typing 5s steps(60),
        blink .5s infinite step-end alternate;
    overflow: hidden;
    @keyframes typing {
        from {
            color: rgb(5, 5, 5);
            width: 0
        }
    }
    @keyframes blink {
        50% {
            border-color: color.$fourColor;
        }
    }
}

@mixin neo($radius, $eje) {
    border-radius: $radius;
    background: #ffffff;
    box-shadow: $eje $eje ($eje*2)#cec9c9ec,
        (-$eje) (-$eje) ($eje*2) #5f5d5d;
}

span {

    letter-spacing: 5px;
    color: white;
    display: block;

    @include neo(50px, 2px);




    @mixin mk-flexBox($justify) {


        display: flex;
        align-items: center;
        justify-content: $justify;

    }



    // @mixin mkBackground {
    //     background: {
    //         size: contain;
    //         repeat: no-repeat;
    //         position: center;

    //     }

    //     ;

    // }



}

.loading {

    display: block;
    margin: 0 auto;

    border-radius: 1px;
    /*     border-right: 4px solid  whitesmoke; */
    width: 40ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    color: rgba(255, 0, 0, 0.527);


}




@font-face {
    font-family: 'Marske';
    src: url('/Marske/Marske.otf') format('truetype');
    font-style: italic;
    font-weight: bold;
}


.home {
    display: flex;
    flex-wrap: wrap;
}
    .in-flex {
    flex: 1;
    min-width: 250px;
    }

    .in-flex:first-child {
    fLex: 2;
    padding: 25px;
    background-coLor: #fff;
    margin: 20px;
    margin-bottom:0px;
}

.in-flex div{

    
    padding: 25px;
    background-color:
    #fff ;
margin: 20px;}

    @mixin relieve($sizeFont) {
        font-size: $sizeFont; 

        background: #202020; 
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text; 
        color: transparent; 
        text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);


    }