@mixin breakpoint($width) {
	@media (min-width: $width) {
            @content;
        }
  }



@mixin tiping {
    display: block;
    text-align: center;
    color: rgb(255, 0, 0);
   


   


    //typing
    width: 60ch;
    text-transform: uppercase;
    white-space: nowrap;
  /*   border-right: 4px solid ; */
    animation: typing 5s steps(60),
    blink .5s infinite step-end alternate;

    overflow: hidden;

    @keyframes typing {
        from {
            color: white;
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
}



@mixin neo($radius, $eje) {
    border-radius: $radius;
    background: #ffffff;
    box-shadow: $eje $eje ($eje*2)#cec9c9ec,
        (-$eje) (-$eje) ($eje*2) #5f5d5d;
        @include tiping;
}

span {
  
    letter-spacing: 5px;
    color: white;
    display: block;

    @include neo(50px, 2px); 

   


@mixin flexBox {


    display: flex;
    align-items: center;
    justify-content: center;

}



    
}
.loading{

    display: block;
    margin: 0 auto;
   
    border-radius: 1px;
/*     border-right: 4px solid  whitesmoke; */ 
    width: 40ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    color:rgba(255, 0, 0, 0.527);


}




@font-face {
    font-family: 'Marske';
    src: url('/Marske/Marske.otf') format('truetype');
    font-style: italic;
    font-weight: bold;
  }