@use 'color';
@use 'mixin';

.carrousel{
    
    margin:  0 auto;
    width:90%;
    max-width: 40rem;
    padding:1em;
    @include mixin.neo(1em,1em );
    overflow: hidden;
    // transform: scale(1);
    // visibility: hidden;
    
    // animation: 400ms carrusel 8s  ease-in-out forwards;


    // @keyframes carrusel  {
    
    //     0% {
        
    //     visibility: visible;
        
    //     transform: scale(0.5);
        
    //   }
      
 
      
    //   100% {
        
    //     visibility: visible;
    //       transform: translateX(.9);
          
           
    //     }
      
      
    //   }
  
}
.carrousel .grande{

    width: 500%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include mixin.neo(1em,1em );
    padding:2rem;
  

    .text {
      background-color: #04AA6D;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
 
  }
  .carrousel .img{
    width: calc( 100% / 5 - 5em);
    min-height: 10vh;
    @include mixin.neo(1em,1em );


   
 
  }
  .carrousel .puntos{
    cursor: pointer;
    width:100%;
    margin:1em 0 0;
    padding:.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
 
  }
  .carrousel .punto{
    width:  2em;
    height: 2em;
    margin: 1em 1em 0;
    @include mixin.neo(1em,1em );
    transition: all 400ms ease-in-out ;

    &:hover{
      background-color:color.$fourColor;
    transform: scale(1.5);
        }

  }
  .carrousel .punto.activo{
    background-color:color.$secondColor;
  }
 ////
 /// 
 /// 
 /// 
 /// 
