@use 'mixin';
@use 'menu';
@use 'hero';
@use 'color';
@use 'footer';

$fourColor:#f57400;
$firtsColor:rgb(228, 24, 42);
$secondColor:#90c495;
$terColor:rgb(80, 95, 120);
$textColor:#161a25;

@font-face {
  font-family: 'Marske';
  src: url('/Marske/Marske.otf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

* {
  margin: 0;
  box-sizing: border-box;

}

body {
  
  background: center / contain no-repeat url('/img/back.svg');

  background-position: right center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

/* Estilos para la galería */
#galeria {
  position: fixed;
  top: 8em;
  z-index: 2;
  margin-left: 85%;
}


.imagen {
  width: 8em;
  height: 8em;
  margin: 10px;
  overflow: hidden;
  border-radius: 50%;
}
.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}




