<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO_WEB_1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section id="hero" class="inverted">
        <div id="animation" class="animated fadeIn">
            <h1 class="css-reflects neo" id="animacion">Lorem ipsum dolor sit.</h1>
        </div>
        <h2 class="asociacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum dolor quam necessitatibus. </A></h2>


        <br> <br>
    </section>
<nav>




    <ul>
        <li><a>¿Quiénes somos?</a></li>
        <li><a>Nuestos Servicios</a></li>
        <li><a>Contacta con nosotros</a></li>
        <li><a>Aliados</a></li>
    </ul>





</nav>
<Figure id="galeria">
    
</Figure>

    <div class="contenedor ">
   
       
        <h2 id="titulo">website</h2>
        <figure id="photo">  
         <!-- <img src="/img/gota.jpg" alt="" srcset="">     -->
         </figure>
        <h3 id="precio"></h3>
        <h3 id="subtitulo"></h3>
        <p id="saludo"></p>



    
        <p id="parrafo"></p>
    </div>




    <footer>



        <article class="social-ico" >




            <p class="ico" >  
                <a href="https://wa.me/573168190969/?text=Hola,%20me%20gustaria%20contactar%20con%20ustedes%20"
                target="_blank" class="" id="whatsapp">
                <img src="/img/ico/whatsapp.png" alt="whatsapp" title="whatsapp" width="50">
            </a>
            </p>
            <p class="ico" >  
            
                <a href="mailto:asociacionarapla@gmail.com?Subject=Hola,%20me%20gustaria%20contactar%20con%20ustedes%20"
                target="_blank" class="" id="email">
                <img src="/img/ico/correo.svg" alt="e-mail" title="e-mail." width="50">
            </a>
            </p>
        
        
        
        </article>
            





        <p ><b>WEB SITE</b></p>




    </section>






















        

    </footer>

    <script type="module" src="/js/script.js"></script>
</body>

</html>