<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO_WEB_1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section id="hero" class="inverted">
    
            <h1 class="css-reflects neo" id="animacion">la unica guerra que tiene permitida el hombre es contra su extinsion    </h1>
        
     


        <br> <br>
    </section>
<nav>




    <ul>
        <li><a class="menu_item-1 tiping ">¿Quiénes somos?</a></li>
        <li><a class="menu_item-2 tiping">Nuestos Servicios</a></li>
        <li><a class="menu_item-3  tiping">Contacta con nosotros</a></li>
        <li><a class="menu_item-4 tiping ">Aliados</a></li>
    </ul>





</nav>


    <div class="contenedor ">
   
       
        <h2 id="titulo" class="tiping " >welcome</h2>
        <figure id="photo">  
        <img src="/img/gota.jpg" class="imagen_inicio" alt="" srcset="">    
         </figure>
        <h3 id="precio"></h3>
        <h3 id="subtitulo"></h3>
        <p id="saludo"></p>



    
        <p id="parrafo"></p>
    </div>




    <section class="contacto">



        <article class="social-ico" >




            <p class="ico" >  
                <a href="https://wa.me/573168190969/?text=Hola,%20me%20gustaria%20contactar%20con%20ustedes%20"
                target="_blank" class="" id="whatsapp">
                <img src="/img/ico/whatsapp.png" alt="whatsapp" title="whatsapp" width="50">
            </a>
            </p>
            <p class="ico" >  
            
                <a href="mailto:asociacionarapla@gmail.com?Subject=Hola,%20me%20gustaria%20contactar%20con%20ustedes%20"
                target="_blank" class="" id="email">
                <img src="/img/ico/correo.svg" alt="e-mail" title="e-mail." width="50">
            </a>
            </p>
        
        
        
        </article>
            





        <p id="name"  ><b>WEB SITE</b></p>



    </section>



















    <Figure id="galeria">
    
    </Figure>



        

    </section>

    <script type="module" src="/js/script.js"></script>
</body>

</html>