<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegación con Javascript</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <ul>
        <li><a>¿Quiénes somos?</a></li>
        <li><a>Nuestos Servicios</a></li>
        <li><a>Contacta con nosotros</a></li>
        <li><a>Aliados</a></li>
    </ul>

    <div class="contenedor">
        <h2 id="titulo"></h2>
        <h3 id="precio"></h3>
        <h3 id="subtitulo"></h3>
        <p id="parrafo"></p>
    </div>

    <script type="module" src="/js/script.js"></script>
</body>

</html>